body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(10, 10, 10);
}


.mylist-title{
  color: white;
}

.list-name{
  color: white;
}

.greatings{
  margin-top: 5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 5rem;
}

.introduction{
  margin-top: 5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2rem;
}
.posters{
  padding: 1rem;
}
.search-results{
  color: white;
}

.card-title{
  color: white;
}

.card-img{
  padding: 1rem;
}

.card{
  margin-right: 4rem;
  margin-bottom: 3rem;
  background-color: #252424;
}

.carousel-inner img {
  margin: auto;
  margin-top: 4rem;
}

.mylist-redirect{
  text-decoration: none;
  color: white;
}

.form-control{
  width: 30%;
}

.redirect-signin{
  text-decoration: none;
}

#mylist-btn{
  margin-top: 5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  margin-left: 47%;
  margin-right: 48%;
  
}

.greatings-user{
  margin-top: 5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  color: white;
}
.sign-up{
  color: white;
  margin-bottom: 2rem;
}

.search-movie{
  width: 68%;
}

.login-title{
  color: white;
  margin-bottom: 2rem;
}

.redirect-signup{
  color: white;
  margin-left: 3rem;
}
.col-form-label{
  width: 6rem;
}

.login-form{
  margin-left: 3rem;
  font-size: 1rem;
  color: white;
  margin-bottom: 2rem;
}

// #logout-btn{
//   margin-left: 76rem;
// }

.bg-light{
  background-color: rgb(26, 25, 25) !important; 
}

.navbar-brand{
  color: white !important; 
}

.nav-link{
  color: white !important; 
}

.nav-item{
  color: white !important; 
}

.btn-outline-success {
  color: red;
  border-color: red;
}

.movie-title{
  text-align: center;
  color: white;
  font-size: 4rem;
}

.paragraph{
  border: 10rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 1rem;
  line-height: 1.4rem;
}
.btn-create{
  width: 5rem;
}
select {
  word-wrap: normal;
  height: 2rem;
}
.add-list{
  color:white;
  font-size: 1rem;
}

.input-create {
  width: 13.333333%;
}
.form-space{
  width: 97%;
}

.create-intro{
  width: 10rem;
  color: white;
  font-size: 1rem;
}

.input-create{
  width: 12.333333%;
}

p{
  color: white;
}

.imdb-logo{
  width: 4rem;
  height: 2rem;
  border-radius: 20%;
}

.review-session{
  width: 23rem; 
}

.plot{
  margin-right: 20%;
  margin-left: 20%;
}

.whatched{
  margin-bottom: 1rem;
  width: 11rem;
}

.whatch{
  width: 11rem;
}

.lists-btn{
  width: 23rem;
  margin: auto;
}